.scratch-render-scaled-overlay,
.scratch-render-unscaled-overlay,
.scratch-render-scaled-overlay > *,
.scratch-render-unscaled-overlay > * {
    position: absolute;
    top: 0;
    left: 0;
}

.scratch-render-scaled-overlay {
    transform-origin: top left;
}
